<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ruoyiapp.mapper.AppUserMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.ruoyiapp.entity.AppUserEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="contact_number" jdbcType="VARCHAR" property="contactNumber"/>
        <result column="id_no" jdbcType="VARCHAR" property="idNo"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
    </resultMap>

    <resultMap id="UserResultMap" type="com.ruoyi.ruoyiapp.response.UserResponseVo">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="contact_number" jdbcType="VARCHAR" property="contactNumber"/>
        <result column="id_no" jdbcType="VARCHAR" property="idNo"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="inspectionsNumber" jdbcType="INTEGER" property="inspectionsNumber"/>
        <result column="scanned_date" jdbcType="TIMESTAMP" property="scannedDate"/>
        <result column="org_code" jdbcType="VARCHAR" property="orgCode"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, sex, contact_number, id_no, company, department, created_date, created_by, 
    update_date, updated_by
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.ruoyiapp.entity.AppUserEntity"
            useGeneratedKeys="true">
    insert into app_user (`name`, sex, contact_number, 
      id_no, company, department, 
      created_date, created_by, update_date, 
      updated_by)
    values (#{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{contactNumber,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.ruoyiapp.entity.AppUserEntity"
            useGeneratedKeys="true">
        insert into app_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="contactNumber != null">
                contact_number,
            </if>
            <if test="idNo != null">
                id_no,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="createdDate != null">
                created_date,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="contactNumber != null">
                #{contactNumber,jdbcType=VARCHAR},
            </if>
            <if test="idNo != null">
                #{idNo,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                #{department,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.ruoyiapp.entity.AppUserEntity">
        update app_user
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="contactNumber != null">
                contact_number = #{contactNumber,jdbcType=VARCHAR},
            </if>
            <if test="idNo != null">
                id_no = #{idNo,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                created_date = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruoyi.ruoyiapp.entity.AppUserEntity">
    update app_user
    set `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      id_no = #{idNo,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryIfExist" resultType="com.ruoyi.ruoyiapp.entity.AppUserEntity">
    SELECT * FROM app_user t WHERE t.id_no=#{idNo}
  </select>

    <select id="queryforCondition" resultMap="BaseResultMap">
    SELECT * FROM app_user t WHERE t.name=#{name} and t.id_no=#{idNo}
  </select>

    <select id="timesLimit" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM `app_scan_record` t WHERE t.user_id=#{idNo} AND TO_DAYS(t.created_date) = TO_DAYS(NOW());
  </select>

    <select id="userList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `app_user` LIMIT #{pageIndex},#{pageSize}
    </select>

    <select id="selectExportUserList" resultMap="UserResultMap">
         SELECT
            tuser.*,
            MAX(scan.scanned_date) AS scanned_date,
            MAX(scan.org_code) AS org_code,
            COUNT( scan.id ) AS inspectionsNumber
        FROM
            `app_user` tuser
            LEFT JOIN app_scan_record scan ON tuser.id_no = scan.user_id
        GROUP BY
            tuser.id
        LIMIT #{pageIndex}, #{pageSize}
    </select>

    <select id="queryUserList" resultMap="UserResultMap">
        SELECT
            tuser.*,
            COUNT( scan.id ) AS inspectionsNumber,
            MAX(scan.scanned_date) AS scanned_date,
            MAX(scan.org_code) AS org_code
        FROM
            `app_user` tuser
            LEFT JOIN app_scan_record scan ON tuser.id_no = scan.user_id
        <where>
            1=1
            <if test="orgCode != null and orgCode !=''">
                and  scan.org_code =#{orgCode}
            </if>
            <if test="name != null and name !=''">
                and  tuser.name =#{name}
            </if>
            <if test="idNo != null and idNo !=''">
                and  tuser.id_no =#{idNo}
            </if>
            <if test="contactNumber != null and contactNumber !=''">
                and  tuser.contact_number =#{contactNumber}
            </if>
        </where>
        GROUP BY
            tuser.id
        LIMIT #{pageIndex},#{pageSize}
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT
            COUNT(DISTINCT(tuser.id)) AS total
        FROM
            `app_user` tuser
        LEFT JOIN app_scan_record scan ON tuser.id_no = scan.user_id
        <where>
            1=1
            <if test="orgCode != null and orgCode !=''">
                and  scan.org_code =#{orgCode}
            </if>
            <if test="name != null and name !=''">
                and  tuser.name =#{name}
            </if>
            <if test="idNo != null and idNo !=''">
                and  tuser.id_no =#{idNo}
            </if>
            <if test="contactNumber != null and contactNumber !=''">
                and  tuser.contact_number =#{contactNumber}
            </if>
        </where>
    </select>

</mapper>